---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <p>Hello Portfolio</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    height: 95%;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin: auto 0;
    font-family: monospace;
  }
</style>
